@import "../../variables.css";

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  font-size: 14px;
}

.pagination-row {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.pagination-button {
  padding: var(--padding-small) var(--padding-medium);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.pagination-select,
.pagination-items-per-page {
  padding: var(--padding-small);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.pagination-select:focus,
.pagination-items-per-page:focus {
  outline: none;
  border-color: var(--primary-color);
}
