@import "../../variables.css";

.dataListTable {
  width: 100%;
  margin: var(--margin-medium) 0;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

.dataListTable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.dataListTable th,
.dataListTable td {
  padding: var(--padding-medium);
  border: 1px solid var(--primary-light);
  text-align: left;
}

.dataListTable th {
  background-color: var(--primary-darker);
  font-weight: bold;
  position: relative;
}

.dataListTable .th-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.dataListTable .sort-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.dataListTable .arrow {
  display: inline-block;
  margin-left: 2px;
  font-size: 0.8em;
  color: var(--hover-bg-color);
}

.dataListTable .arrow.active {
  color: white;
}

.dataListTable tr:nth-child(even) {
  background-color: var(--even-row-bg-color);
}

.dataListTable tr:hover {
  background-color: var(--hover-bg-color);
}

/* Apply border radius to the first and last rows */
.dataListTable table tr:first-child th:first-child {
  border-top-left-radius: var(--border-radius);
}

.dataListTable table tr:first-child th:last-child {
  border-top-right-radius: var(--border-radius);
}

.dataListTable table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.dataListTable table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

/* Responsive styles */
@media (max-width: 768px) {
  .dataListTable th,
  .dataListTable td {
    padding: var(--padding-small);
    font-size: 12px;
  }
}
