@import "../../variables.css";

.dataListTable {
  width: 100%;
  margin: var(--margin-medium) 0;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

.dataListTable-filters {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-medium);
  gap: var(--gap-medium);
  flex-wrap: wrap;
}

.dataListTable-filter label {
  margin-right: var(--margin-small);
  font-weight: bold;
}

.dataListTable-filter input,
.dataListTable-filter select {
  padding: var(--padding-small);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 14px;
}

.dataListTable-filter input:focus,
.dataListTable-filter select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.dataListTable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.dataListTable th,
.dataListTable td {
  padding: var(--padding-medium);
  border: 1px solid var(--primary-light);
  text-align: left;
}

.dataListTable th {
  background-color: var(--primary-darker);
  font-weight: bold;
  cursor: pointer;
}

.dataListTable th.sorted-asc::after {
  content: " ▲";
}

.dataListTable th.sorted-desc::after {
  content: " ▼";
}

.dataListTable tr:nth-child(even) {
  background-color: var(--even-row-bg-color);
}

.dataListTable tr:hover {
  background-color: var(--hover-bg-color);
}

/* Apply border radius to the first and last rows */
.dataListTable table tr:first-child th:first-child {
  border-top-left-radius: var(--border-radius);
}

.dataListTable table tr:first-child th:last-child {
  border-top-right-radius: var(--border-radius);
}

.dataListTable table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.dataListTable table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

/* Responsive styles */
@media (max-width: 768px) {
  .dataListTable th,
  .dataListTable td {
    padding: var(--padding-small);
    font-size: 12px;
  }

  .dataListTable-filters {
    flex-direction: column;
    align-items: stretch;
  }
}
