@import "../../variables.css";

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--margin-medium);
  gap: var(--gap-medium);
  flex-wrap: wrap;
}

.filters-top {
  display: flex;
  justify-content: center;
  gap: var(--gap-medium);
  flex-wrap: wrap;
}

.filters-total {
  font-size: 14px;
  margin: 0;
}

.filters-filter label {
  margin-right: var(--margin-small);
  font-weight: bold;
}

.filters-filter input,
.filters-filter select {
  padding: var(--padding-small);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 14px;
}

.filters-filter input:focus,
.filters-filter select:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }
}
